*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
   background: hsl(233, 47%, 7%);
   min-height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background: hsl(244, 38%, 16%);
    height: 26rem;
    width: 34rem;
    padding: 6%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding-right: 13%;
}
.image-1{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    mix-blend-mode: multiply;
    opacity: 0.75;
    height: 26rem;
}
.image-2{
    display: none;
}
.image{
    background: hsl(277, 64%, 61%);
    height: 26rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}   
h1{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
}
h1 b{
    color: hsl(277, 64%, 61%);
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    margin-top: 7%;
    font-size: 0.85rem;
    line-height: 1.5rem;
}
.analytics{
    display: flex;
    justify-content: space-between;
    margin-top: 22%;
}
.numbers{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}
.info{
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    font-weight: 400;
    margin-top: 5%;
    letter-spacing: 0.1rem;
}
footer{
    position: absolute;
    bottom: 1%;
    color: hsl(277, 64%, 61%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.9rem;
}
a{
    text-decoration: overline;
    color: hsl(277, 64%, 61%);
}
a:hover{
    color: white;
}

/*Responsiveness*/
@media screen and (max-width: 375px){
    main{
        flex-direction: column-reverse;
        margin-top: 15%;
    }
    .image{
        border-bottom-right-radius: 0rem;
        border-top-left-radius: 0.5rem;
        height: 13.95rem;
    }
    .image-1{
        display: none;
    }
    .image-2{
        display: inline;
        opacity: 0.5;
        width: 19rem;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
    }
    .card{
        width: 19rem;
        height: 32rem;
        padding: 12%; 
        border-top-left-radius: 0rem;
        border-bottom-right-radius: 0.5rem;
    }
    h1{
        text-align: center;
        font-size: 1.55rem;
    }
    p{
        text-align: center;
    }
    .analytics{
        flex-direction: column;
        align-items: center;
    }
    .numbers{
        place-items: center;
    }
    .companies{
        margin-top: -5%;
    }
    .templates{
        margin-top: 13%;
    }
    .queries{
        margin-top: 13%;
    }
    footer{
        position: relative;
        margin-top: 15%;
    }
    #ten, #three{
        margin-left: 20%;
    }
}

